{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to Goncharov Investments</h1>
    <p>Last updated: {{ last_update }}.</p>
        <form method="POST" action="/">
            <label for="dropdown">Select a Stock:</label>
            <select id="dropdown" name="dropdown">
                {% for option in dropdown_data %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit">
        </form>
{% endblock %}